@{ ViewData["Title"] = "Product Add"; }

<form action="/Order/Save" method="post">
    @{ if (ViewBag.message != null)
        {
<div class="alert alert-danger">@ViewBag.message</div> } }
    <div class="mb-3">
        <label class="form-label">Employee</label>
        <select name="EmployeeId" class="form-control">
            @foreach (Employee employee in ViewBag.employees)
            {
<option value="@employee.Id">@employee.Name</option>            }
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Products</label>
        <select name="ProductId" class="form-control">
            @foreach (Product product in ViewBag.products)
            {
<option value="@product.Id">@product.ProductName</option>
}
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Quantity</label>
        <input type="text" name="Quantity" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">BillId</label>
        <input type="text" name="BillId" class="form-control">
    </div>
        <input hidden type="text" name="TableId" class="form-control" value=@ViewBag.tableNumber>
    <button type="submit" class="btn btn-success  col-md-3">Add</button>
</form>