
@using RestaurantAutomation.Models.Dto

@{ ViewData["Title"] = "Order List"; }

<a class="btn btn-sm btn-primary text-light" asp-controller="Order" asp-action="Add">+</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Bill Id</th>
            <th>Product</th>
            <th>Table</th>
            <th>Quantity</th>
            <th>Employee</th>
        </tr>
    </thead>
    <tbody>
        @foreach (OrderDto orderDto in ViewBag.orders)
        {
        <tr>
            <td>@orderDto.Id</td>
            <td>@orderDto.BillId</td>
            <td>@orderDto.Product</td>
            <td>@orderDto.TableNumber</td>
            <td>@orderDto.Quantity</td>
            <td>@orderDto.Employee</td>

            @*<td>
                <a class="btn btn-link" href="/Users/Update/@user.Id">Edit</a>
                <a class="btn btn-link" href="/Users/Delete/@user.Id">Delete</a>
            </td>*@
        </tr>}
    </tbody>
</table>