
@using RestaurantAutomation.Models.Dto

@{ ViewData["Title"] = "Order List"; }

<a class="btn btn-sm btn-primary text-light" asp-controller="Order" asp-action="Add">+</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Table</th>
            <th>Quantity</th>
            <th>Employee</th>
        </tr>
    </thead>
    <tbody>
        @foreach (OrderDto orderDto in ViewBag.orders)
        {
<tr>
    <td>@orderDto.Id</td>
    <td>@orderDto.Product</td>
    <td>@orderDto.TableNumber</td>
    <td>@orderDto.Quantity</td>
    <td>@orderDto.Employee</td>

    <td>
            <a class="btn btn-link" href="/Order/Update/@orderDto.Id">Düzenle</a>

            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Sil
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Silmek istediğinizden emin misiniz ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            <a class="btn btn-primary" href="/Order/Delete/@orderDto.Id">Sil</a>
      </div>
    </div>
  </div>
</div>

        </td>
</tr>
}
    </tbody>
</table>